SistemaCVT/Intranet/CVT_MermasRecepcion/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBMermasRecepcion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBMermasRecepcion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCVT_Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CVT_Usuarios" nillable="true" type="tns:CVT_Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCVT_Usuarios" nillable="true" type="tns:ArrayOfCVT_Usuarios" />
  <xs:complexType name="CVT_Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Depto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPerfil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="MailUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioSistema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CVT_Usuarios" nillable="true" type="tns:CVT_Usuarios" />
</xs:schema>